<div class="card">
  <div class="card-body">
    <h5 class="card-title">Import your data file.xlsx</h5>

    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text" id="inputGroupFileAddon01">Upload</span>
      </div>
      <div class="custom-file">
        <input
          type="file"
          id="fileUpload"
          #inputFileUpload
          name="games-list"
          accept=".csv, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel"
        />
        <label class="custom-file-label" for="fileUpload">Choose file</label>
      </div>
    </div>
    <p *ngIf="filesData">Data from this file : {{ filesData.name }}</p>
  </div>
</div>

<div *ngIf="filesData" class="card p-4 mt-5">
  <section id="form-header" class="d-flex justify-content-between m-3">
    <form [formGroup]="fileFormGroup" class="form-inline">
      <div class="form-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text" id="inputGroup-sizing-default">File name:</span>
        </div>
        <input
          type="text"
          class="form-control"
          formControlName="fileName"
          aria-label="Default"
          aria-describedby="inputGroup-sizing-default"
        />
      </div>
    </form>

    <div class="dropdown">
      <button
        class="btn btn-secondary dropdown-toggle"
        type="button"
        id="dropdownMenuButton"
        data-toggle="dropdown"
        aria-haspopup="true"
        aria-expanded="false"
      >
        Dropdown button
      </button>
      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <a class="dropdown-item" data-toggle="modal" data-target="#addNewDataTypeModal">Add new tab data</a>
        <a class="dropdown-item" [class.disabled]="fileFormGroup.invalid" (click)="updateDataFile()" href="#"
          >Update data file</a
        >
      </div>
    </div>
  </section>
  <section class="table-data">
    <ul class="nav nav-tabs" id="myTab" role="tablist">
      <li
        *ngFor="let type of filesData.type; let index = index"
        class="nav-item"
        (click)="selectSheetData(index)"
        role="presentation"
      >
        <a id="{{ index }}" data-toggle="tab" class="nav-link" [class.active]="currentDataIndex === index" role="tab">{{
          type
        }}</a>
      </li>
    </ul>
    <div class="tab-content" id="myTabContent" *ngIf="filesData.data; else noData">
      <table class="table table-striped">
        <thead class="thead-light">
          <tr>
            <th
              *ngFor="let title of filesData.data[currentDataIndex].title; first as isFirst; let index = index"
              scope="col"
              [class.middle]="isFirst"
              (click)="theadSort(isFirst, index)"
            >
              <section class="d-flex justify-content-between align-items-center">
                <span class="header">{{ title ? title : '#' }}</span>
                <div *ngIf="!isFirst">
                  <div class="icon-caret-up-fill" [class.active]="isSortIconActive(index, true)"></div>
                  <div class="icon-caret-down-fill" [class.active]="isSortIconActive(index, false)"></div>
                </div>
              </section>
            </th>
            <th><!-- CTA THEAD--></th>
          </tr>
        </thead>
        <tbody>
          <!-- Current data file -->
          <ng-container *ngFor="let content of filesData.data[currentDataIndex].content; let index = index">
            <!-- Data listing view -->
            <ng-container *ngIf="editViewIndex !== index">
              <tr>
                <td *ngFor="let prop of content">{{ prop }}</td>
                <td class="cta-icon">
                  <a class="icon-pencil" (click)="renderEditDataView(index)" [class.disabled]="isEdition"></a>
                  <a class="icon-trash" (click)="removeData(index)"></a>
                </td>
              </tr>
            </ng-container>
            <!-- Edition mode -->
            <ng-container *ngIf="editViewIndex === index">
              <tr
                [class.editCell]="editViewIndex === index"
                app-td-edit-line
                [dataLineInformation]="currentSheetData"
                [editIndexData]="index"
                isEditionMode="true"
                (editionFinished)="editionFinished()"
              ></tr>
            </ng-container>
          </ng-container>

          <!-- Add new data occurence -->
          <tr class="newData" app-td-edit-line [dataLineInformation]="currentSheetData"></tr>
        </tbody>
      </table>
    </div>
  </section>
</div>

<!-- MODAL ADD NEW COLUMN DATA -->
<ng-container>
  <div class="modal fade" id="addNewDataTypeModal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">New data type</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form>
            <div class="form-group">
              <label for="recipient-name" class="col-form-label">Data type name:</label>
              <input
                type="text"
                [(ngModel)]="ngModelDataType"
                [ngModelOptions]="{ standalone: true }"
                class="form-control"
                id="data-type-name"
              />
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button
            type="button"
            class="btn btn-primary"
            [disabled]="!ngModelDataType"
            data-dismiss="modal"
            (click)="createDataType()"
          >
            Create
          </button>
        </div>
      </div>
    </div>
  </div>
</ng-container>

<ng-template #noData> Files select containt no data </ng-template>
<ng-template #firstData>
  <span class="numberCells">{{ filesData.data[currentDataIndex].content.length + 1 }}</span>
</ng-template>
