.nav {
  border-bottom: 2px solid;
  padding-bottom: 0.2em !important;
}
.numberCells {
  vertical-align: middle;
}

th {
  cursor: pointer;
  &.middle {
    vertical-align: middle;
  }

  // style with icon
  /*
  span {
    &.header {
      padding-right: 10px;
      vertical-align: sub;
    }
    &.icon {
      cursor: pointer;
    }
  }
  */
}
