<div class="card">
  <div class="card-body">
    <h5 class="card-title">Import your data file.xlsx</h5>

    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text" id="inputGroupFileAddon01">Upload</span>
      </div>
      <div class="custom-file">
        <input
          type="file"
          id="fileUpload"
          #inputFileUpload
          name="games-list"
          accept=".csv, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel"
        />
        <label class="custom-file-label" for="fileUpload">Choose file</label>
      </div>
    </div>
    <p *ngIf="filesData">Data from this file : {{ filesData.name }}</p>
  </div>
</div>

<div *ngIf="filesData" class="card p-4 mt-5">
  <ul class="nav nav-tabs" id="myTab" role="tablist">
    <li
      *ngFor="let type of filesData.dataType; let index = index"
      class="nav-item"
      (click)="selectSheetData(index)"
      role="presentation"
    >
      <a id="{{ index }}" data-toggle="tab" class="nav-link" [class.active]="currentDataIndex === index" role="tab">{{
        type
      }}</a>
    </li>
  </ul>
  <div class="tab-content" id="myTabContent" *ngIf="filesData.data; else noData">
    <table class="table table-striped">
      <thead class="thead-light">
        <tr>
          <th *ngFor="let title of filesData.data[currentDataIndex].title" scope="col">{{ title ? title : '#' }}</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let content of filesData.data[currentDataIndex].content">
          <td *ngFor="let prop of content">{{ prop }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<ng-template #noData> Files select containt no data </ng-template>
