<div class="card">
  <div class="card-body">
    <h5 class="card-title">Import your data file.xlsx</h5>

    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text" id="inputGroupFileAddon01">Upload</span>
      </div>
      <div class="custom-file">
        <input
          type="file"
          id="fileUpload"
          #inputFileUpload
          name="games-list"
          accept=".csv, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel"
        />
        <label class="custom-file-label" for="fileUpload">Choose file</label>
      </div>
    </div>
    <p *ngIf="filesData">Data from this file : {{ filesData.name }}</p>
  </div>
</div>

<div *ngIf="filesData" class="card p-4 mt-5">
  <section class="d-flex justify-content-between m-3">
    <form [formGroup]="fileFormGroup" class="form-inline">
      <div class="form-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text" id="inputGroup-sizing-default">File name:</span>
        </div>
        <input
          type="text"
          class="form-control"
          formControlName="fileName"
          aria-label="Default"
          aria-describedby="inputGroup-sizing-default"
        />
      </div>
    </form>
    <button
      type="button"
      [disabled]="fileFormGroup.invalid"
      class="btn btn-primary"
      data-toggle="button"
      aria-pressed="false"
      autocomplete="off"
      (click)="updateDataFile()"
    >
      Update data file
    </button>
  </section>
  <section>
    <ul class="nav nav-tabs" id="myTab" role="tablist">
      <li
        *ngFor="let type of filesData.type; let index = index"
        class="nav-item"
        (click)="selectSheetData(index)"
        role="presentation"
      >
        <a id="{{ index }}" data-toggle="tab" class="nav-link" [class.active]="currentDataIndex === index" role="tab">{{
          type
        }}</a>
      </li>
    </ul>
    <div class="tab-content" id="myTabContent" *ngIf="filesData.data; else noData">
      <table class="table table-striped">
        <thead class="thead-light">
          <tr>
            <th
              *ngFor="let title of filesData.data[currentDataIndex].title; first as isFirst; let index = index"
              scope="col"
              [class.middle]="isFirst"
              (click)="sortData(index)"
            >
              <span class="header">{{ title ? title : '#' }}</span>
              <!--  
              <span *ngIf="!isFirst" class="d-inline-flex flex-column icon" (click)="sortData(index)">
                <a class="icon-caret-up-fill"></a>
                <a class="icon-caret-down-fill"></a>
              </span>
            --></th>
            <th><!-- CTA THEAD--></th>
          </tr>
        </thead>
        <tbody>
          <!-- Current data file -->
          <tr
            *ngFor="let content of filesData.data[currentDataIndex].content; let index = index"
            [class.editCell]="editViewIndex === index"
          >
            <!-- Data listing view -->
            <ng-container *ngIf="editViewIndex !== index">
              <td *ngFor="let prop of content">{{ prop }}</td>
              <td class="cta-icon">
                <a class="icon-pencil" (click)="renderEditDataView(index)" [class.disabled]="isEdition"></a>
                <a class="icon-trash" (click)="removeData(index)"></a>
              </td>
            </ng-container>
            <!-- Edition data view -->
            <ng-container *ngIf="editViewIndex === index">
              <td *ngFor="let prop of content; let i = index; first as isFirst" [class.pl-0]="!isFirst">
                <!--First data uneditable-->
                <div *ngIf="isFirst">{{ prop }}</div>
                <div *ngIf="!isFirst">
                  <input [(ngModel)]="ngUpdateArray[i - 1]" type="text" class="form-control" />
                </div>
              </td>
              <!-- CTA CELL -->
              <td class="cta-icon">
                <a class="icon-check" (click)="confirmEdition(index)"></a>
                <a class="icon-cross" (click)="cancelEdition()"></a>
              </td>
            </ng-container>
          </tr>
          <!-- Add new data occurence -->
          <tr class="newData">
            <td *ngFor="let prop of nbProperty; let i = index; first as isFirst" [class.pl-0]="!isFirst">
              <div *ngIf="!isFirst; else firstData">
                <input [(ngModel)]="ngModelArray[i - 1]" type="text" class="form-control" />
              </div>
            </td>
            <!-- CTA Container -->
            <td>
              <button type="button" class="btn btn-primary btn-block" (click)="pushNewFileData()">Add new data</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </section>
</div>

<ng-template #noData> Files select containt no data </ng-template>
<ng-template #firstData>
  <span class="numberCells">{{ filesData.data[currentDataIndex].content.length + 1 }}</span>
</ng-template>
