<ng-container>  
  <app-import-data-list></app-import-data-list>
  <div class="main-container">
    <section [ngClass]="{'full-screen-component': secondCardFullScreen}" class="mt-5">
      <app-video-games-pie-chart [filesData]="data" [fullScreen]="secondCardFullScreen" (fullScreenEvent)="onSecondCardChange($event)" ></app-video-games-pie-chart>
    </section>
    <section class="data-list mt-5" [ngClass]="{'full-screen-component': firstCardFullScreen}">
      <app-data-list [fullScreen]="firstCardFullScreen" (fullScreenEvent)="onFirstCardChange($event)" (fileDataContent)="getFilesData($event)"></app-data-list>
    </section>   
  </div> 
</ng-container>
